/*
 * Legendamar Copyright © 2012-2013 Dream Overflow
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with ou without modifications,
 * require an explicit authorisation from Revolutioning Entertainment.
 */
